@font-face {
    font-family: 'TBC Contractica';
    src: url('TBCContractica-Bold.woff2') format('woff2'),
        url('TBCContractica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TBC Contractica CAPS';
    src: url('TBCContracticaCAPS-Light.woff2') format('woff2'),
        url('TBCContracticaCAPS-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TBC Contractica CAPS';
    src: url('TBCContracticaCAPS-Medium.woff2') format('woff2'),
        url('TBCContracticaCAPS-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TBC Contractica CAPS';
    src: url('TBCContracticaCAPS-Bold.woff2') format('woff2'),
        url('TBCContracticaCAPS-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TBC Contractica';
    src: url('TBCContractica-Light.woff2') format('woff2'),
        url('TBCContractica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TBC Contractica CAPS';
    src: url('TBCContracticaCAPS-Regular.woff2') format('woff2'),
        url('TBCContracticaCAPS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TBC Contractica';
    src: url('TBCContractica-Regular.woff2') format('woff2'),
        url('TBCContractica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TBC Contractica';
    src: url('TBCContractica-Medium.woff2') format('woff2'),
        url('TBCContractica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

