@media (max-width: 1440px) {
  body {
    font-size: 14px;
  }
  .link {
    font-size: 14px;
  }
  .title-28 {
    font-size: 24px;
  }
  .banner {
    padding: 80px;
  }
  .banner-content {
    max-width: 450px;
  }
  .message p {
    font-size: 32px;
  }
  .swiper-container{
    margin-left: -45px;
    margin-right: -45px;
    padding-left: 45px;
    overflow: visible;
  }
  .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    left: 45px;
    margin-right: 0;
    width: 100%;
  }
  .swiper-nav{
    display: none;

  }
  .app-text{
   row-gap: 20px;
  }

  .app-image img{
    width: 100%;
    max-width: 256px;
     max-height: 334px;
    object-fit: cover;
  }
}
@media (max-width: 1200px) {
  .header-nav {
    column-gap: 16px;
    margin: 0px;
  }
  .header-content {
    column-gap: 24px;
  }
  .footer-bottom{
      padding: 32px 45px;
      overflow-x: hidden;
  }
  .app-content{
    padding: 0 45px;
  }
}
@media (max-width: 992px) {
  #custom-scrollbar{
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header-content {
    justify-content: space-between;
  }
  .header-menu__mobile.open {
    visibility: visible;
    opacity: 1;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #f9fafa;
    z-index: 105;
  }
  .header-menu__inner {
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .header-menu__mobile-content {
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    flex: 1;
    display: flex;
  }
  .header-menu__mobile-dropdown {
    padding: 0 45px 32px 45px;
    border-bottom: 1px solid #d1d5d6;
    cursor: pointer;
  }
  .dropdown-toggle {
    width: 100%;
    max-width: 1110px;
    color: #141719;

    padding: 32px 0 0;
    font-size: 18px;
    font-weight: 700;
  }
  .header-menu__mobile-nav {
    height: 0;
    overflow: hidden;
    transition: height 0.6s;
  }
  .header-menu__mobile-dropdown.open .header-menu__mobile-nav {
    height: auto;
    height: calc-size(auto);
  }
  .header_mobile-dropdown-arr {
    transition-duration: 0.6s;
  }
  .header-menu__mobile-dropdown.open .header_mobile-dropdown-arr {
    transform: rotate(180deg);
  }
  .header-menu__mobile-nav-list {
    grid-row-gap: 16px;
    flex-direction: column;
    padding-top: 20px;
    display: flex;
  }
  .header-menu__mobile-nav-list a {
    font-size: 16px;
    font-weight: 400;

    transition: color 0.25s ease-in-out;
  }

  .header-menu__mobile-nav-list a:hover {
    color: #182cc0;
  }
  .header-lang {
    display: none;
  }
  footer .header-lang{
    display: block ;
    display: flex;
    background-color: #f9fafa;
    height: 40px;
    padding: 0 12px;
    width: 72px;
 
  }
  .lang-list__wrapper{
    width: 72px;
    top: 40px;
  }
  .burger-icon {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 8px;
    cursor: pointer;
    align-items: flex-start;
    transition: color 0.25s;
  }
  .burger-icon .burher-line {
    height: 2px;
    background-color: #555f62;
    border-radius: 1px;
    transition-duration: 0.6s;
    transition: 0.6s;
  }
  .burger-icon1 {
    width: 11px;
  }
  .burger-icon2 {
    width: 20px;
  }
  .burger-icon3 {
    width: 15px;
  }
  .burger-icon.active .burger-icon1 {
    transform: translate(0px, 7px) rotate(-45deg);
    transform-style: preserve-3d;
    width: 20px;
    height: 2px;
  }
  .burger-icon.active .burger-icon2 {
    opacity: 0;
  }
  .burger-icon.active .burger-icon3 {
    transform: translate(0px, -7px) rotate(45deg);
    transform-style: preserve-3d;
    width: 20px;
    height: 2px;
  }

  .banner {
    padding: 240px 45px 36px 45px;
  }
  .hero-section {
    padding: 32px 0 50px 0;
  }
  .padding-60 {
    padding: 50px 0;
  }
  .grid-content {
    padding: 24px;
  }
  .numbers {
    flex-direction: column;
    row-gap: 30px;
  }
  .globa-layout {
    padding: 80px 45px 0 45px;
  }
  .app-btn .store{
    display: none;
  }
  .app-btn .download-app{
    display: flex;
    padding: 16px 32px 12px 32px;
    column-gap: 4px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    color: #182cc0;
    text-transform: uppercase;
    border: 1px solid #182cc0;
    transition: background-position .25s ease-in-out;
    background-color: #f9fafa;
  }
 
  .download-text{
    display: flex;
    align-items: center;
  }
  .app-image img{
    width: 100%;
    max-width: 206px;
     max-height: 272px;
    object-fit: cover;
  }
  
}
@media (max-width: 768px) {

  .header-logo{
    display: none;

  }
  .header_logo-mobile{
    display: block;
  }
  .menu-buttons{
    column-gap: 8px;
  }
  .footer_logo{
    display: none;
  }
.footer_logo-mobile{
  display: block;
}
 
  .footer-main-content {
    grid-template-columns: 1fr;
  }
  .footer-toggle {
    padding: 36px 0;
    font-size: 24px;
    line-height: 1.5;
    display: flex;
  }
  .footer-dropdown__arrow {
    display: block;
  }
  .footer-dropdown {
    border-bottom: 1px solid #d1d5d6;
  }
  .footer-dropdown.border-none {
    border: none;
  }
  .footer-nav {
    height: 0;
    overflow: hidden;
  }
  .footer-nav nav {
    padding-bottom: 36px;
    row-gap: 24px;
  }
  .footer-dropdown__arrow {
    display: flex;
    align-items: center;
  }

  .footer-top {
    padding: 36px 0;
    border-bottom: 1px solid #d1d5d6;
  }
  .footer-dropdown__arrow {
    transition-duration: 0.6s;
  }
  .footer-dropdown.open .footer-dropdown__arrow {
    transform: rotate(180deg);
  }

  .hero-section {
    padding: 32px 0 40px 0;
  }
  .banner-content {
    width: 100%;
    max-width: 100%;
    align-items: stretch;
  }
  .btn {
    width: 100%;
    
  }
  .btn-content{
    justify-content: center;
  }
  .hero-section{
    margin-left: -45px;
    margin-right: -45px;

  }
  .banner {
    border-radius: 0;
  }
  .padding-60 {
    padding: 40px 0;
}

.message p {
  font-size: 28px;
}
.heading {
  margin-bottom: 28px;
}
.grid{
  display: flex;
  overflow-x: scroll;
  column-gap: 16px;
  margin-right: -45px;
  margin-left: -45px;
  padding-left: 45px;
}
.grid-card {
  width: 280px;
  flex: none;
  min-height: 232px;
}
.grid .title-24{
  font-size: 16px;
}
.footer-heading{
  font-size: 24px;
}
.footer-contact{
  padding-top: 40px;
}
.footer-bottom{
  background-color: #f9fafa;
}
.footer-bottom-content{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  row-gap: 32px;
 
}
.footer-bottom-links{
  order: -1;
}
.offer-card-content{
  padding: 20px;
}
.offer-card-content h3{
  font-size: 14px;
}
.offer-image{
  height: 160px;
}
.offer-card{
  min-height: 315px;
}

.offer-text{
  padding: 20px;
}
.offer-text h3{
  font-size: 14px;
}
.offer-text p{
  font-size: 12px;
}

.awards-card-content h3{
  font-size: 14px;
}

.app-image__mobile{
  display: block;
}
.app-image{
  display: none;
}
.app-image__mobile{
  display: block;
 
}

.app-image__mobile img {
  width: 370px;
  height: 484px;
  object-fit: cover;
}
.app-text {
  width: 100%;
  
}
.download-app{
  width: 100%;
  justify-content: center;
}
.app-content {
  padding: 45px 45px;
}
.app-text {
  row-gap: 24px;
}
}

@media (max-width: 480px) {
  body{
    font-size: 14px;
  }
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-menu__mobile-dropdown{
    padding: 0 15px 32px 15px;
  }
  .footer-bottom-content{
    font-size: 12px;
  }
  .globa-layout{
    padding: 80px 15px 0 15px;
  }
  .banner{
    padding: 172px 15px 20px 15px;
  }
  .hero-section {
    margin-left: -15px;
    margin-right: -15px;
}
.title-28 {
  font-size: 16px;
}
.padding-60 {
  padding: 36px 0;
}
.message p {
  font-size: 24px;
}
h2 {
  font-size: 14px;

}
.heading {
  margin-bottom: 20px;
}
.see-more a {
  font-size: 12px;
}
.num{
  font-size: 36px;
}
.number{
  font-size: 14px;
  padding: 24px;
}
.numbers{
  row-gap: 16px;
}
.get-product-link{
  font-size: 12px;
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 0px  ;
}


.hero-section {
  padding: 32px 0 10px 0;
}

.footer{
  margin-top: 36px;
}
.offer-slider, .awards-slider{
  padding-bottom: 16px;
}
.footer-toggle {
  font-size: 16px;
}
.footer-heading {
  font-size: 16px;
}
.footer-bottom {
  padding: 24px 45px;
}
.footer-bottom-content{
  row-gap: 24px;
}
.footer-toggle{
  padding: 24px 0;
}
.footer-main-content{
  row-gap: 0;
}
}
